<section class="row justify-content-center my-5">
  <nav aria-label="Page navigation" class="col-auto">
    <ul class="pagination">
      <li class="page-item">
        <button class="page-link text-dark">Anterior</button>
      </li>
      <li class="page-item">
        <button class="page-link text-dark">1</button>
      </li>
      <li class="page-item">
        <button class="page-link text-dark">2</button>
      </li>
      <li class="page-item active">
        <button class="page-link">3</button>
      </li>
      <li class="page-item">
        <button class="page-link text-dark">4</button>
      </li>
      <li class="page-item">
        <button class="page-link text-dark">5</button>
      </li>
      <li class="page-item">
        <button class="page-link text-dark">Siguiente</button>
      </li>
    </ul>
  </nav>
</section>
