<section class="row justify-content-center my-5">
  <nav aria-label="Page navigation" class="col-auto">
    <ul class="pagination">
      <li class="page-item" *ngIf="infoPaginator.currentPage !== 1">
        <button
          class="page-link text-dark"
          (click)="changePage(infoPaginator.currentPage - 1)"
        >
          Anterior
        </button>
      </li>
      <li class="page-item" *ngIf="infoPaginator.currentPage > 2">
        <button
          class="page-link text-dark"
          (click)="changePage(infoPaginator.currentPage - 2)"
        >
          {{ infoPaginator.currentPage - 2 }}
        </button>
      </li>
      <li class="page-item" *ngIf="infoPaginator.currentPage > 1">
        <button
          class="page-link text-dark"
          (click)="changePage(infoPaginator.currentPage - 1)"
        >
          {{ infoPaginator.currentPage - 1 }}
        </button>
      </li>

      <li class="page-item active">
        <button class="page-link">{{ infoPaginator.currentPage }}</button>
      </li>
      <li
        class="page-item"
        *ngIf="
          (infoPaginator.currentPage + 1) * infoPaginator.limit <
          infoPaginator.total
        "
      >
        <button
          class="page-link text-dark"
          (click)="changePage(infoPaginator.currentPage + 1)"
        >
          {{ infoPaginator.currentPage + 1 }}
        </button>
      </li>
      <li
        class="page-item"
        *ngIf="
          (infoPaginator.currentPage + 2) * infoPaginator.limit <
          infoPaginator.total
        "
      >
        <button
          class="page-link text-dark"
          (click)="changePage(infoPaginator.currentPage + 2)"
        >
          {{ infoPaginator.currentPage + 2 }}
        </button>
      </li>

      <li
        class="page-item"
        *ngIf="
          infoPaginator.currentPage <= 2 &&
          (infoPaginator.currentPage + 3) * infoPaginator.limit <
            infoPaginator.total
        "
      >
        <button
          class="page-link text-dark"
          (click)="changePage(infoPaginator.currentPage + 3)"
        >
          {{ infoPaginator.currentPage + 3 }}
        </button>
      </li>
      <li
        class="page-item"
        *ngIf="
          infoPaginator.currentPage <= 1 &&
          (infoPaginator.currentPage + 4) * infoPaginator.limit <
            infoPaginator.total
        "
      >
        <button
          class="page-link text-dark"
          (click)="changePage(infoPaginator.currentPage + 4)"
        >
          {{ infoPaginator.currentPage + 4 }}
        </button>
      </li>
      <li
        class="page-item"
        *ngIf="
          (infoPaginator.currentPage + 1) * infoPaginator.limit <
          infoPaginator.total
        "
      >
        <button
          class="page-link text-dark"
          (click)="changePage(infoPaginator.currentPage + 1)"
        >
          Siguiente
        </button>
      </li>
    </ul>
  </nav>
</section>
