<section class="row justify-content-center my-5">
  <nav aria-label="Page navigation" class="col-auto">
    <ul class="pagination">
      <li class="page-item" *ngIf="refPaginador.currentPage !== 1">
        <button
          class="page-link text-dark"
          (click)="changePage(refPaginador.currentPage - 1)"
        >
          Anterior
        </button>
      </li>
      <li class="page-item" *ngIf="refPaginador.currentPage > 2">
        <button
          class="page-link text-dark"
          (click)="changePage(refPaginador.currentPage - 2)"
        >
          {{ refPaginador.currentPage - 2 }}
        </button>
      </li>
      <li class="page-item" *ngIf="refPaginador.currentPage > 1">
        <button
          class="page-link text-dark"
          (click)="changePage(refPaginador.currentPage - 1)"
        >
          {{ refPaginador.currentPage - 1 }}
        </button>
      </li>

      <li class="page-item active">
        <button class="page-link">{{ refPaginador.currentPage }}</button>
      </li>
      <li
        class="page-item"
        *ngIf="
          (refPaginador.currentPage + 1) * refPaginador.limit <
          refPaginador.total
        "
      >
        <button
          class="page-link text-dark"
          (click)="changePage(refPaginador.currentPage + 1)"
        >
          {{ refPaginador.currentPage + 1 }}
        </button>
      </li>
      <li
        class="page-item"
        *ngIf="
          (refPaginador.currentPage + 2) * refPaginador.limit <
          refPaginador.total
        "
      >
        <button
          class="page-link text-dark"
          (click)="changePage(refPaginador.currentPage + 2)"
        >
          {{ refPaginador.currentPage + 2 }}
        </button>
      </li>

      <li
        class="page-item"
        *ngIf="
          refPaginador.currentPage <= 2 &&
          (refPaginador.currentPage + 2) * refPaginador.limit <
            refPaginador.total
        "
      >
        <button
          class="page-link text-dark"
          (click)="changePage(refPaginador.currentPage + 3)"
        >
          {{ refPaginador.currentPage + 3 }}
        </button>
      </li>
      <li
        class="page-item"
        *ngIf="
          refPaginador.currentPage <= 1 &&
          (refPaginador.currentPage + 3) * refPaginador.limit <
            refPaginador.total
        "
      >
        <button
          class="page-link text-dark"
          (click)="changePage(refPaginador.currentPage + 4)"
        >
          {{ refPaginador.currentPage + 4 }}
        </button>
      </li>
      <li
        class="page-item"
        *ngIf="
          (refPaginador.currentPage + 1) * refPaginador.limit <
          refPaginador.total
        "
      >
        <button
          class="page-link text-dark"
          (click)="changePage(refPaginador.currentPage + 1)"
        >
          Siguiente
        </button>
      </li>
    </ul>
  </nav>
</section>
