<main class="container mt-5 pt-5">
  <section class="row">
    <div class="col-md-8 mx-auto text-center">
      <h1>Welcome to VlV | eCommerce</h1>
      <p class="lead">
        Here you will find everything you need for your home, office or
        business.
      </p>
      <mat-divider></mat-divider>
      <p class="mb-5 mt-2">
        Our mission is to offer you the best products at the best price, with
        the customer service you deserve.
      </p>
      <p class="h4">
        Shop today and experience the joy of online shopping with us!
      </p>
    </div>
  </section>
  <section class="text-center mt-4">
    <a mat-button mat-raised-button color="accent" routerLink="/products">
      SHOP
    </a>
  </section>
</main>
<app-footer class="fixed-footer-container"></app-footer>
