@import "../../../../assets/colors.scss";
header.navbar-container {
  a:hover {
    color: #000;
    text-decoration: underline;
  }
  .link-active {
    background-color: #000;
    color: #fff;
  }
  .link-active:hover {
    background-color: #000;
    color: #fff;
  }
}
