<section class="text-center fixed-bottom-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a
          href="https://www.linkedin.com/in/jorge-ignacio-tirado-b98274223/"
          target="_blank"
          class="me-3"
        >
          <img
            src="assets/linkedin.svg"
            alt="LinkedIn"
            width="24"
            height="24"
          />
        </a>
        <a href="https://www.github.com/VlV-515" target="_blank">
          <img src="assets/github.svg" alt="GitHub" width="24" height="24" />
        </a>
        <p class="mt-2">Jorge Ignacio Tirado</p>
      </div>
    </div>
  </div>
</section>
