//MATERIAL
$colorMaterialPrimary: #3f51b5;
$colorMaterialAcent: #ff4081;
$colorMaterialWar: #f44336;
//BOOTSTRAP
$colorBootstrapBlue:    #0d6efd;
$colorBootstrapIndigo:  #6610f2;
$colorBootstrapPurple:  #6f42c1;
$colorBootstrapPink:    #d63384;
$colorBootstrapRed:     #dc3545;
$colorBootstrapOrange:  #fd7e14;
$colorBootstrapYellow:  #ffc107;
$colorBootstrapGreen:   #198754;
$colorBootstrapTeal:    #20c997;
$colorBootstrapCyan:    #0dcaf0;
