* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 80vw;
  height: 100vh;
  margin: auto;
  background-color: #3eecac;
  background-image: linear-gradient(135deg, #3eecac 0%, #ee74e1 100%);
}
